modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 36219
externalPort = 3002

[[ports]]
localPort = 37381
externalPort = 3000

[[ports]]
localPort = 41203
externalPort = 3001
