modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 34087
externalPort = 3000

[[ports]]
localPort = 42285
externalPort = 3002

[[ports]]
localPort = 46229
externalPort = 3001
